<div class="sidebar">
	<%- include ('../partials/usernav.ejs') %>

	<div class="profile">
		<img src="../source/pictures/person.svg" alt="avatar">
		<h3><%= user.name %></h3>
		<p>Kennisniveau: <span><%= user.level %></span></p>
		<p>Totaal aantal punten: <span><%= user.score %> punten</span></p>
	</div>
	<div class="missions">
		<h3>Voortgang</h3>
		<ul>
			<li class="voortgang1"><a href="/overzicht"><img src="../source/icons/map.svg"  alt="map icon">Terug naar de kaart</a></li>
			<li>
				<a <% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "OV survey") { %> class="complete" <% } %><% } %> href="/ov-detail"><img src="../source/pictures/ov.png"  alt="Openbaar Vervoer icon">1. OV  <% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "OV survey") { %><span>(<%= usedTools[i].highscore %> / <%= usedTools[i].maxpoints %>)</span><% } %><% } %>
				</a>
			</li>
			<li>
				<a <% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "Phishing Quiz") { %> class="complete" <% } %><% } %> href="/quiz-detail"><img src="../source/pictures/phishing_quiz.png"  alt="Quiz icon">2. Phishing Quiz <% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "Phishing Quiz") { %><span>(<%= usedTools[i].highscore %> / <%= usedTools[i].maxpoints %>)</span><% } %><% } %>
				</a>
			</li>
			<li>
				<a <% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "OBA survey") { %> class="complete" <% } %><% } %> href="/oba-detail"><img src="../source/pictures/bibliotheek.png"  alt="Bibliotheek icon">3. OBA<% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "OBA survey") { %><span>(<%= usedTools[i].highscore %> / <%= usedTools[i].maxpoints %>)</span><% } %><% } %>
				</a>
			</li>
			<li>
				<a <% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "Data enquête") { %> class="complete" <% } %><% } %> href="/data-game"><img src="../source/pictures/enquete.png"  alt="survey icon">4. Enquete<% for (var i=0; i < usedTools.length; i++) { %>
				<% if (usedTools[i].toolname === "Data enquête") { %><span>(<%= usedTools[i].highscore %> / <%= usedTools[i].maxpoints %>)</span><% } %><% } %>
				</a>
			</li>
		</ul>
	</div>
	<div class="chat">
		<h3>Heb je vragen over een onderwerp? Stel ze hier:</h3>
	<!-- https://widget.flow.ai/w/NjA1YzI0YTAtNjNhMi00M2U0LWI3NDYtYmMwMjA1NmE5NjAxfGU1YTA4ZjA4LWVmZmQtNGNhZS1iMGU5LTZiZDg3N2M2Y2VmZg==/flow-webclient-1.1.2.min.js -->

	<iframe src="https://wijzer.amsterdam/chat.html?fullscreen=true&origin=meesterproef" frameborder="0"></iframe>
</div>

</div>
