<!DOCTYPE html>
<html lang="nl">

<%- include ('../partials/head.ejs') %>

<body id="overview">


    <main id="toolkits">
        <!-- <%- include ('../partials/nav.ejs') %> -->
        <div class="overview-info">
            <h1>Digi Wijzer</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis excepturi cum earum voluptatum
                libero sint possimus modi, quo suscipit unde in dignissimos odio laborum laudantium fugiat aliquid.
                Eaque, laudantium debitis!</p>
        </div>

        <div id="toggleMenu">
            <button class="btnFilters active" id="btnLijstWeergave">Lijst</button>
            <button class="btnFilters" id="btnKaartweergave">Kaart</button>
        </div>

        <div class="plugins-list">
            <h2>Phishing</h2>
            <ul class="plugins">

                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Phishing Quiz</h2>
                    <!-- <p>40/100p</p> -->
                    <a href="/quiz-detail">Meer info</a>
                </li>
                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Phishing Quiz</h2>
                    <!-- <p>40/100p</p> -->
                    <a href="/quiz-detail">Meer info</a>
                </li>
                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Phishing Quiz</h2>
                    <!-- <p>40/100p</p> -->
                    <a href="/quiz-detail">Meer info</a>
                </li>


            </ul>
            <h2>Data Gebruik</h2>
            <ul class="plugins">

                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Data Gebruik</h2>
                    <a href="/quiz-detail">Meer info</a>
                </li>
                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Data Gebruik</h2>
                    <a href="/quiz-detail">Meer info</a>
                </li>

                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Data Gebruik</h2>
                    <a href="/quiz-detail">Meer info</a>
                </li>

                <li>

                    <img src="../source/pictures/quiz.svg" alt="store">
                    <h2>Data Gebruik</h2>
                    <a href="/quiz-detail">Meer info</a>
                </li>


            </ul>
        </div>
        <!-- <section id="webtoolsmap">
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1lODhvLw9rzClo9mademZrYNE-Jb1jTO0" width="640" height="480"></iframe>
        </section> -->
        <!-- 
		<div id="mapid"></div> -->

        <iframe class="localfocusvisual" frameborder="0" style="width:100%;overflow:hidden" src="https://localfocuswidgets.net/5ed93fb38f29b"></iframe>

        <%- include ('../partials/devFooter.ejs') %>

    </main>

    <div class="sidebar">
        <div id="profile">
                <img src="../source/pictures/person.svg" alt=" avatar">
                <h2><%= user.name %></h2>
                <p>Totaal aantal punten: <span><%= user.score %> punten</span></p>
        </div>
        <div class="statistieken">
            <h3>Statistieken</h3>
            <ul>
                <li>
                    <p>
                        Gebruiker: 120P
                    </p>
                </li>
                <li>
                    <p>
                        Gebruiker: 120P
                    </p>
                </li>
                <li>
                    <p>
                        Gebruiker: 120P
                    </p>
                </li>
            </ul>
            
        </div>
        <div class=" ranklijst">
            <h3>Ranklijst</h3>
            <ul>
                <li>
                    <p>
                        Gebruiker: 120P
                    </p>
                </li>
                <li>
                    <p>
                        Gebruiker: 120P
                    </p>
                </li>
                <li>
                    <p>
                        Gebruiker: 120P
                    </p>
                </li>
            </ul>
        </div>
        <div class=" settings">
            <p>
                <a href="/">Log-out</a>
            </p>
        </div>
    </div>



    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="js/script.js"></script>
    <script src="js/map.js"></script>

</body>

</html>
